body
{
	font-family: tahoma,sans-serif;
	font-size: 62.5%;
	line-height: 1.182;
	font-weight: normal;
	width: 790px;
	margin: auto;
	background: #fff;
	color: #000;
}

.sprite
{
	width: 12px;
	height: 12px;
}

.header-main
{
	background: #55779b;
	border-radius: 0 0 8px 8px;
}

.logo
{
	display: inline-block;
	margin: 8px 0 0 12px;
}

.search
{
	display: inline-block;
	border-radius: 2px;
	background: #fff;
	vertical-align: top;
	margin: 8px 0 0 15px;
	padding: 0 5px; 
}

.sprite-search
{
	display: inline-block;
	background: url(img/sprite2.png) no-repeat;
}

.search_input
{
	display: inline-block;
	width: 100px;
	font: 13px arial,sans-serif;
	border:	0px;
}

.search_input:focus
{
	outline: 0px;
}

.search_form
{
	display: inline-block;
}

.sprite-friend
{
	display: inline-block;
	background: url(img/sprite2.png) no-repeat -12px 0;
}

.font-grey
{
	text-decoration: none;
	color: #95a9c1;
	font-weight: bold;
	font-size: 10px;
}

.nav
{
	display: inline-block;
	margin-left: 45px;
	vertical-align: top;
}

.nav_li
{
	display: inline-block;
}

.nav_li:hover
{
	background: #426387;
}

.nav_button
{
	display: inline-block;
	line-height: 40px;
	height: 40px;
	padding: 0px 10px;
	text-decoration: none;
	color:#fff;
	font-size: 11px;
	font-weight: bold;
}

.play
{
	display: inline-block;
	width: 22px;
	height: 22px;
	border-radius: 2px;
	background: url(img/sprite.png) no-repeat -13px 4px #3d6186;
	vertical-align: middle;
	margin-right: 5px;
}

.nav_li:hover .play
{
	background-color: #32557a; 
}

/*a {
text-decoration:none;
color:#225fa1;
}
.header{
background:#55779b;
border-radius:0 0 8px 8px;
color:#ffffff;
font-weight:bold;
height:40px;

}
.menu{
margin-right:10px;
}
.menu li{

}
.header form, .logo{
display:inline-block;
float:left;
}
.header .logo{
width:120px;
height:22px;
margin-left:12px;
margin-top:8px;
background:url('img/logo.png') no-repeat 0 0;
}
.menu li>a{
display:inline-block;
float:right;
height:40px;
padding:0px 10px;
text-decoration:none;
color:white;
}
.menu li>a:hover{
background:#426387;
}
.menu span{
vertical-align:-12px;
}
.header input{
width:100px;
border:0;
padding:0px;
height:22px;
font-family:inherit;
display:inline-block;
}
.header .search{
margin:8px 0 0 15px;
height:22px;
background:#ffffff;
border-radius:2px;
width:160px;
padding:0;
}
.header input:focus{
outline:0px;
}
.header .search-logo1{
width:15px;
height:15px;
background:url('img/sprite.png') no-repeat 2px 4px;
display:inline-block;
vertical-align:1px;
}
.header .search-logo2{
width:30px;
height:15px;
background:url('img/sprite.png') no-repeat -30px -1px;
display:inline-block;
vertical-align:1px;
color:#95a9c1;
}
.menu .play{
display:inline-block;
width:22px;
height:22px;
background:url('img/sprite.png') no-repeat -13px 4px #3d6186;
border-radius:2px;
vertical-align:-8px;
margin-left:5px;
}
.menu li:nth-child(3):hover .play{
background-color:#32557a;
}
.sidebar, .first-column, .second-column{
display:inline-block;
float:left;
}
.sidebar{
width:128px;
padding:5px 20px 10px 10px;
}
.sidebar-menu{
line-height:2;
}
.sidebar-menu a{
text-decoration:none;
text-transform:capitalize;
color:#225fa1;
}
.sidebar-menu a:visited{
color:#225fa1;
}
.sidebar-menu a:active{
color:#225fa1;
}
.sidebar-menu a span{
color:#777777;
display:inline-block;
float:right;
text-transform:none;
}
.sidebar-menu a span:hover{
color:#55779b;
}
.ad-block-1, .ad-block-2{
width:95px;
display:block;
text-decoration:none;
margin-top:20px;
font-weight:bold;
text-align:center;
}
.sidebar .text{
color:#225fa1;
}
.text span, .ads{
color:#777777;
font-weight:normal;
line-height:2;
font-size:10px;
text-decoration:none;
}
.sidebar .img{
width:95px;
height:121px;
}
.ad-block-1 .img{
background:url('img/ad1.png') no-repeat 2px 0
}
.ad-block-2>span{
text-decoration:none;
color:#000000;
font-weight:normal;
}
.ad-block-2 .img{
background:url('img/ad2.png') no-repeat 0 0
}
.first-column{
width:200px;
}
.name{
color:#718092;
padding-top:10px;
padding-bottom:20px;
font-weight:bold;
}
.ava{
width:200px;
height:200px;
background:url('img/ava.png') no-repeat 0 0;
}
.button{
display:block;
background:#55779b;
border-radius:2px;
color:#ffffff;
padding:8px 33px;
margin-top:15px;
text-decoration:none;
width:119px;
margin-left:7px;
margin-bottom:10px;
}
.stats{
line-height:2;
margin:20px 0;
}
.stats span{
display:inline-block;
float:right;
}
.stats div{
display:inline-block;
width:12px;
height:12px;
background:url('img/sprite2.png') no-repeat 0 2px;
}
.stats ul li:nth-child(2) div{
background-position:-12px 2px;
}
.stats ul li:nth-child(3) div{
background-position:-36px 2px;
}
.stats ul li:nth-child(4) div{
background-position:-24px 2px;
}
.columns-header{
font-weight:bold;
}
.columns-header>a+a{
display:inline-block;
float:right;
color:#a9b6c4;
}
.columns-header a+a:hover{
text-decoration:underline;
}
.gift{
display:inline-block;
	
background:url('img/gift.png') no-repeat;
width:40px;
height:50px;
margin:20px 30px;
}
.friends{
margin-top:20px;
}
.columns-header .friends-ava{
display:inline-block;
width:50px;
text-align:center;
float:left;
margin:8px;
color:#55779b;
font-weight:normal;
}
.friends-ava-img{
width:50px;
height:50px;
}
.friends-ava:nth-child(1) .friends-ava-img{
background:url('img/fr_ava1.png') no-repeat
} 
.friends-ava:nth-child(2) .friends-ava-img{
background:url('img/fr_ava2.png') no-repeat
} 
.friends-ava:nth-child(3) .friends-ava-img{
background:url('img/fr_ava3.png') no-repeat
} 
.second-column{
width:400px;

}
.online{
text-align:right;
color:#a9b6c4;
font-weight:bold;
padding:10px;
}
.second-column p{
color:#55779b;
margin:10px 0 5px 15px;
font-weight:bold;
font-size:12px;
}
.second-column span{
margin-left:15px;
display:block;
}
.info{
display:inline-block;
line-height:1.75;
margin:15px;
vertical-align:top;
}
.info-left{
color:#777777;
}
.second-column .columns-header{
padding-left:15px;
}
.pics{
margin:10px 0 15px;
}
.pics img{
margin:-2px;
}
.new input{
margin-top:30px;
border:1px solid #a9b6c4;
width:350px;
font-family:inherit;
padding-left:5px;
}